doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= "Slack emulator by EEM"
    script.
      var gon = !{JSON.stringify(gon)};
  body
    #application
    //- nav.navbar.navbar-expand-lg.navbar-light.bg-faded
    //-   a.navbar-brand(href="/") Chat
    //-   button.navbar-toggler(data-toggle="collapse" data-target="#navbarSupportedContent")
    //-     span.navbar-toggler-icon
      //- .collapse.navbar-collapse
      //-   ul.navbar-nav.mr-auto
      //-     li.nav-item.active
      //-       a.nav-link(href="/") Home
    //- .container
    //-   #chat
      // block content
    script(src='/assets/vendor.js')
    script(src='/assets/application.js')
