.fade.in {
  opacity: 1;
}

.word-wrap-bw {
  word-wrap: break-word;
}

.scrollable {
  overflow-y: auto;
}

.vh-100 {  
  height: 100vh;  
}

@media (max-width: 575px) {
  .vh-100 {
    height: 50vh;
  }
}

.request-sending {
  animation-name: request-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes request-animation {
  0% {
    transform: rotate(0deg);
  }  
  100% {
    transform: rotate(360deg);
  }
}